@font-face {
    font-family: arnhem;
    src: url(../font/Arnhem/ArnhemBlond.ttf);
}

@font-face {
    font-family: arnhem2;
    src: url(../font/Arnhem/ArnhemLFBlond.ttf);
}

@font-face {
    font-family: arnhem-italics;
    src: url(../font/Arnhem/ArnhemBlondItalic.ttf);
}

@font-face {
    font-family: kabel;
    src: url(../font/kabel.otf);
}



body, html {
	height: 100%;
}

body {
	margin:0px;
}

canvas {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
   /* width: 800px;*/
}

a {
	text-decoration: none;
	color:black;
}

i {
	font-family: arnhem-italics;
}

img {
	max-width: 100%;
}

p {
	font-size: 24px;
	font-family: arnhem, serif;
	margin: 0px;
}

h1 {
	font-family: kabel, sans-serif;
	font-size: 32px;
}

.page {

/*	box-shadow: 0px 0px 120px black;*/
	width: 100%;
}



.content-wrap {
/*	background-color: white;*/
	padding: 70px;
	display: flex; 
	flex-direction: row;
}


.text-container {
	margin-right: 50px;
/*	background-color: green;*/
	flex: 5;
}

.indent{
	text-indent: 50px;
}

.quote{
	font-family: arnhem-italics;
}

.img-container {
	/*background-color: yellow;*/
	flex: 2;
}

/*#green{
	background-color: purple;

}*/

#title-page {
	background: linear-gradient(black, rgb(0, 0, 64));
}

#intro {
	background: linear-gradient(rgb(0, 0, 38), rgb(181, 209, 255));
}

#chapter-1-title {
/*	background: rgb(181, 209, 255);	*/
	background: linear-gradient(rgb(0, 0, 64), rgb(0, 0, 89))
}

#chapter-1 {
/*	background: white;	*/
	background: linear-gradient(rgb(206, 225, 255), white);	
}

#chapter-2-title {
	background: linear-gradient(rgb(0, 0, 89), rgb(0, 0, 102));	
}

#chapter-2 {
	background: linear-gradient(white, rgb(206, 225, 255));	
}

#chapter-3-title {
	background: linear-gradient(rgb(0, 0, 102), rgb(0, 0, 128));	
}

#chapter-3 {
	background: linear-gradient(rgb(206, 225, 255), white);	
}

#chapter-4-title {
	background: linear-gradient(rgb(0, 0, 128), rgb(0, 0, 204));	
}

#chapter-4 {
	background: linear-gradient(white, rgb(206, 225, 255));	
}

#chapter-5-title {
	background: linear-gradient(rgb(0, 0, 204), rgb(17, 17, 170));	
}

#chapter-5 {
	background: linear-gradient(rgb(206, 225, 255), white);	
}

#conclusion-title {
	background: linear-gradient(rgb(17, 17, 170), rgb(0, 0, 64));	
}

#conclusion {
	background: linear-gradient(white, rgb(206, 225, 255));	
}

#references {
	background: linear-gradient(rgb(206, 225, 255), white);	
}

#colophon {
	background: linear-gradient(white, rgb(206, 225, 255));	
}

.reference {
	font-size: 12px;	
}

.ref-num {
	color:red;
	font-family: arnhem2, serif;
}

.img-ref-num{
	color:red;
	font-family: arnhem2, serif;
}

.reference-col{
	flex:2;
}

.quote-big {
	font-size: 60px;
	font-family: arnhem-italics, serif;
	text-align: center;
}


.canvascontainer {
	//background-color: red;
	//min-height: 1000px;
    width: 100%;
}

.canvas {
	//background-color: red;
	width: 100%;
}

.quote-big{
	font-size: 60px;
	font-family: arnhem-italics, serif;
}

.intro-wrap{
	padding:70px;
}

.content-wrap {
	padding: 70px;
	display: flex; 
	flex-direction: row;
}

.reference-wrap {
	padding: 70px; 
}

.img-caption{
	font-size: 18px;
}

.reference-col-wrap {
	padding: 70px;
	display: flex; 
}

.colophon-wrap{
	padding: 70px;
}